input {
    width: 100%;
    border: 1px solid $gray600;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;

    &:focus,
    &:active,
    &:focus-visible,
    &:hover {
        outline: none;
        border-color: $gray900;
    }

    &::placeholder {
        color: $gray900;
        font-size: 1rem;
    }
}
