$black: #000;
$white: #fff;

$dark500: #262727;
$yellow: yellow;

$gray500: #e7e7e7;
$gray600: #c4c4c4;
$gray700: #999999;
$gray900: #333;

$blue300: #40b0ef;
$blue500: #407bff;
$blue700: #3665cf;

$fw: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$fs: (13, 14, 15, 16, 17, 18, 20, 22, 24);
