@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-SemiBold.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 600;
    font-weight: 700;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 800;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-ExtraBold.ttf");
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
    font-display: "swap";
    src: url("../../../public/fonts/roboto/Roboto-\.ttf");
}
